body{
    background: #00d9ff;(245, 207, 213);
    color: darkblue;
}

img {
    border-radius: 75%;
    font-size : 30px;
}

h1{
    margin-bottom: 50px;
    margin-left: 450px;
    text-decoration: underline ;
    font-family: Times New Roman, Times, serif
}
